# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint Anthony,US,45.0205,-93.2180,21.90,86,100,9.22,snow
1,1,Coahuayana,MX,18.7333,-103.6833,74.17,87,1,3.49,clear sky
2,2,Lagunas,PE,-5.2269,-75.6753,67.73,99,97,1.68,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,73.89,90,100,20.78,moderate rain
4,4,Pevek,RU,69.7008,170.3133,-2.69,99,97,5.06,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Halifax,CA,44.6453,-63.5724,53.69,95,100,18.41,overcast clouds
694,694,Colares,PT,38.7992,-9.4469,66.76,96,98,18.01,overcast clouds
695,695,Egersund,NO,58.4513,5.9997,43.38,79,100,30.71,overcast clouds
696,696,Garmsar,IR,35.2182,52.3409,58.55,40,75,4.12,broken clouds
697,697,Jeremie,HT,18.6500,-74.1167,78.28,84,17,3.58,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Libas,PH,9.8833,125.9833,76.75,89,100,6.24,moderate rain
10,10,Pontianak,ID,-0.0333,109.3333,78.78,94,75,6.91,light rain
11,11,Madang,PG,-5.2246,145.7966,85.44,69,100,7.90,overcast clouds
16,16,Mogadishu,SO,2.0371,45.3438,84.07,84,75,11.50,broken clouds
18,18,Tezu,IN,27.9167,96.1667,78.19,30,6,3.51,clear sky
...,...,...,...,...,...,...,...,...,...,...
682,682,Umm Lajj,SA,25.0213,37.2685,75.78,52,100,10.85,overcast clouds
683,683,Vila Do Maio,CV,15.1333,-23.2167,77.40,72,55,8.81,broken clouds
685,685,Shenzhen,CN,22.5455,114.0683,81.14,70,47,5.12,scattered clouds
689,689,Galesong,ID,-5.3166,119.3661,87.82,67,100,5.66,overcast clouds
697,697,Jeremie,HT,18.6500,-74.1167,78.28,84,17,3.58,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Libas,PH,9.8833,125.9833,76.75,89,100,6.24,moderate rain
10,10,Pontianak,ID,-0.0333,109.3333,78.78,94,75,6.91,light rain
11,11,Madang,PG,-5.2246,145.7966,85.44,69,100,7.90,overcast clouds
16,16,Mogadishu,SO,2.0371,45.3438,84.07,84,75,11.50,broken clouds
18,18,Tezu,IN,27.9167,96.1667,78.19,30,6,3.51,clear sky
...,...,...,...,...,...,...,...,...,...,...
682,682,Umm Lajj,SA,25.0213,37.2685,75.78,52,100,10.85,overcast clouds
683,683,Vila Do Maio,CV,15.1333,-23.2167,77.40,72,55,8.81,broken clouds
685,685,Shenzhen,CN,22.5455,114.0683,81.14,70,47,5.12,scattered clouds
689,689,Galesong,ID,-5.3166,119.3661,87.82,67,100,5.66,overcast clouds
697,697,Jeremie,HT,18.6500,-74.1167,78.28,84,17,3.58,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

             City Country  Max Temp Current Description      Lat       Lng
5           Libas      PH     76.75       moderate rain   9.8833  125.9833
10      Pontianak      ID     78.78          light rain  -0.0333  109.3333
11         Madang      PG     85.44     overcast clouds  -5.2246  145.7966
16      Mogadishu      SO     84.07       broken clouds   2.0371   45.3438
18           Tezu      IN     78.19           clear sky  27.9167   96.1667
..            ...     ...       ...                 ...      ...       ...
682      Umm Lajj      SA     75.78     overcast clouds  25.0213   37.2685
683  Vila Do Maio      CV     77.40       broken clouds  15.1333  -23.2167
685      Shenzhen      CN     81.14    scattered clouds  22.5455  114.0683
689      Galesong      ID     87.82     overcast clouds  -5.3166  119.3661
697       Jeremie      HT     78.28          few clouds  18.6500  -74.1167

[188 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Libas,PH,76.75,moderate rain,9.8833,125.9833,
10,Pontianak,ID,78.78,light rain,-0.0333,109.3333,
11,Madang,PG,85.44,overcast clouds,-5.2246,145.7966,
16,Mogadishu,SO,84.07,broken clouds,2.0371,45.3438,
18,Tezu,IN,78.19,clear sky,27.9167,96.1667,
...,...,...,...,...,...,...,...
682,Umm Lajj,SA,75.78,overcast clouds,25.0213,37.2685,
683,Vila Do Maio,CV,77.40,broken clouds,15.1333,-23.2167,
685,Shenzhen,CN,81.14,scattered clouds,22.5455,114.0683,
689,Galesong,ID,87.82,overcast clouds,-5.3166,119.3661,
697,Jeremie,HT,78.28,few clouds,18.6500,-74.1167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Libas,PH,76.75,moderate rain,9.8833,125.9833,Bakhaw Bed and Breakfast
10,Pontianak,ID,78.78,light rain,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
11,Madang,PG,85.44,overcast clouds,-5.2246,145.7966,Comfort Inn Hotel
16,Mogadishu,SO,84.07,broken clouds,2.0371,45.3438,Hotel Juba
18,Tezu,IN,78.19,clear sky,27.9167,96.1667,Circuit House
...,...,...,...,...,...,...,...
682,Umm Lajj,SA,75.78,overcast clouds,25.0213,37.2685,Moon light Furnished Units
683,Vila Do Maio,CV,77.40,broken clouds,15.1333,-23.2167,Hotel Marilu
685,Shenzhen,CN,81.14,scattered clouds,22.5455,114.0683,Grand Skylight
689,Galesong,ID,87.82,overcast clouds,-5.3166,119.3661,Sapriadi Appy
697,Jeremie,HT,78.28,few clouds,18.6500,-74.1167,Aubergeâ€™Inn

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Libas,PH,76.75,moderate rain,9.8833,125.9833,Bakhaw Bed and Breakfast
10,Pontianak,ID,78.78,light rain,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
11,Madang,PG,85.44,overcast clouds,-5.2246,145.7966,Comfort Inn Hotel
16,Mogadishu,SO,84.07,broken clouds,2.0371,45.3438,Hotel Juba
18,Tezu,IN,78.19,clear sky,27.9167,96.1667,Circuit House
...,...,...,...,...,...,...,...
682,Umm Lajj,SA,75.78,overcast clouds,25.0213,37.2685,Moon light Furnished Units
683,Vila Do Maio,CV,77.40,broken clouds,15.1333,-23.2167,Hotel Marilu
685,Shenzhen,CN,81.14,scattered clouds,22.5455,114.0683,Grand Skylight
689,Galesong,ID,87.82,overcast clouds,-5.3166,119.3661,Sapriadi Appy
697,Jeremie,HT,78.28,few clouds,18.6500,-74.1167,Aubergeâ€™Inn

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Bakhaw Bed and Breakfast</dd>\n<dt>City</dt><dd>Libas</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>moderate rain and 76.75 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aston Pontianak Hotel & Convention Center</dd>\n<dt>City</dt><dd>Pontianak</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 78.78 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Comfort Inn Hotel</dd>\n<dt>City</dt><dd>Madang</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.44 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Juba</dd>\n<dt>City</dt><dd>Mogadishu</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.07 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Circuit House</dd>\n<dt>City</dt><dd>Tezu</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.19 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>light intensity shower rain and 78.96 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kou-Bugny</dd>\n<dt>City</dt><dd>Vao</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.68 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.62 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Butterfly Beach Hotel</dd>\n<dt>City</dt><dd>Oistins</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.69 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.7 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5    9.8833  125.9833
10  -0.0333  109.3333
11  -5.2246  145.7966
16   2.0371   45.3438
18  27.9167   96.1667
19 -21.2000 -175.2000
24 -22.6667  167.4833
27  14.8961  -24.4956
31  13.0667  -59.5333
35   3.0707  172.7902

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '450px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

# Create a figure to add the Google map as a layer
fig = gmaps.figure(layout=figure_layout, center=(0, 0), zoom_level=2)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wiâ€¦